*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family: 'Comic Sans MS', cursive;
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  overflow:auto;
  color:#4a0033;
  transition:0.5s;
}

.container{
  background: rgba(255,255,255,0.2);
  padding:30px;
  border-radius:20px;
  backdrop-filter: blur(10px);
  width:90%;
  max-width:400px;
}

button{
  padding:10px 20px;
  margin:10px;
  border:none;
  border-radius:20px;
  cursor:pointer;
  font-weight:bold;
}

input{
  padding:10px;
  border-radius:15px;
  border:none;
  margin:10px 0;
  width:80%;
}

img{
  width:100%;
  border-radius:15px;
  margin:10px 0;
}

.slider {
  position: relative;
  width: 100%;
  height: 75vh;   /* screen ke hisaab se height */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.slide {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;   /* full photo visible */
  border-radius: 15px;
  opacity: 0;
  position: absolute;
  transition: opacity 0.5s ease-in-out;
}

.slide.active {
  opacity: 1;
}



/* Video Background */
video{
  position:fixed;
  width:100%;
  height:100%;
  object-fit:cover;
  z-index:-1;
  filter:brightness(0.6);
}

/* Fade */
.fade-out{
  opacity:0;
}

/* Sad Mode */
.sad-bg{
  background:linear-gradient(135deg,#ff6b6b,#ff9999);
}

/* Hearts */
@keyframes float{
  0%{transform:translateY(0);opacity:0;}
  50%{opacity:1;}
  100%{transform:translateY(-110vh);opacity:0;}
}

.heart{
  position:fixed;
  bottom:-20px;
  animation:float 6s linear infinite;
}

/* Shake */
@keyframes shake{
  0%,100%{transform:translateX(0);}
  25%{transform:translateX(-5px);}
  50%{transform:translateX(5px);}
  75%{transform:translateX(-5px);}
}

/* Confetti */
@keyframes fall{
  to{transform:translateY(100vh) rotate(720deg);}
}

/* Fireworks */
@keyframes explode{
  from{transform:translate(0,0);opacity:1;}
  to{transform:translate(calc((var(--x))*200px),calc((var(--y))*200px));opacity:0;}
}